.navbar-container {
  height: 10vh;
  width: 100vw;
  background-color: #ea526f;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px black;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: absolute;
  transform: translate3d(0, -10vh, 0);
}

.scroll-top {
  transform: translate3d(0, -100vh, 0);
  transition: transform 1000ms ease-in-out 0.01s;
  transition-property: all;
}

.scroll-bottom {
  transform: translate3d(0, -10vh, 0);
  transition: transform 1000ms ease-in-out 0s;
  transition-property: all;
}

.navbar-item {
  height: 100%;
  line-height: 10vh;
  padding: .5em;
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  color: #F8FFE5;
}

.navbar-item:hover {
  padding: .5em;
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  background-color: #F8FFE5;
  color: #ea526f;
}