.projects-title {
  font-family: "Montserrat", sans-serif;
  font-size: 10em;
  color: #7AE7C7;
  margin: auto;
  width: 50%;
}

.projects-bg {
  height: 100vh;
  background-color: #ea526f;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform: translate3d(0, 0vh, 0);
}
